[package]
name = "taurpc"
authors = ["MatsDK"]
version = "0.5.3"
edition = "2021"
description = "A type-safe IPC layer for tauri commands"
documentation = "https://docs.rs/taurpc"
homepage = "https://github.com/MatsDK/TauRPC"
repository = "https://github.com/MatsDK/TauRPC"
license = "MIT OR Apache-2.0"
readme = "../README.md"
categories = []
rust-version = "1.77.2"

[package.metadata."docs.rs"]
all-features = true
rustc-args = ["--cfg", "docsrs"]
rustdoc-args = ["--cfg", "docsrs"]

[workspace]
members = [
  "taurpc-macros",
]

[dependencies]
anyhow = "1"
heck = "0"
itertools = "0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
specta = { version = "=2.0.0-rc.22", features = ["export", "function"] }
specta-serde = { version = "0", features = [] }
specta-macros = { version = "2.0.0-rc.18" }
specta-typescript = { version = "0", features = ["function"] }
tauri = { version = "2", features = ["specta"] }
taurpc-macros = { path = "./taurpc-macros", version = "=0.5.2" }
tokio = { version = "1", features = ["full"] }
